<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"{{tsr.fields.name}}'s room"</title>
    <style>
        
        body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 15s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        /*
        #draw-canvas{
            display: block;
            margin-left: 7.5%;
            margin-top:1.5%;
        }

        #draw-color-select{
            display: inline-block;
            margin-left: calc(1% - 8px);
        }

        #draw-clear{
            display: inline-block;
            position: absolute;
            right: 1%;
        }
        */
    </style>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
</head>
<body>
    <div class="row">
        <select id="draw-color-select" name="colors">
            <option value="#ff0000">Red</option>
            <option value="#00ff00">Green</option>
            <option value="#0000ff">Blue</option>
            <option value="#000000">Black</option>
            <option value="#ffffff">White</option>
        </select>
        <button id="draw-clear" type="button">Clear all</button>
    </div>
    <br>
    <div class="row">
    <div id="container" style="border:1px solid #000000; width: 100%; height: 600px;"></div>
    </div>
    <script>
        class Tshirt {
            constructor(name, tshirt, slug) {
                this.name = name;
                this.tshit = tshirt;
                this.slug = slug;
            }
        }
        class Friend {
            constructor(id, name, tshirt_room_id, key_points, color) {
                this.id = id;
                this.name = name;
                this.tshirt_room_id = tshirt_room_id;
                this.key_points = key_points;
                this.color = color;
            }
        }

        window.friend = new Friend("{{frd.id}}", "{{frd.fields.name}}", "{{frd.fields.tshirt_room_id}}", "{{frd.fields.key_points}}", "{{frd.fields.color}}");
        //window.tshirtroom = new Friend("{{tsr.fields.name}}", "{{tsr.fields.tshirt}}", "{{tsr.fields.slug}}");
        window.friends = [];

        {% for ff in frds %}
        var f = new Friend( "{{ff.id}}","{{ff.name}}", "{{ff.tshirt_room_id}}", "{{ff.key_points}}", "{{ff.color}}");
        window.friends.push(f);
        {% endfor %}

        let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        let socket = new WebSocket(ws_scheme + "://{{host}}/ws/tshirtroom/{{tsr.fields.slug}}");
        console.log("connecting to: ", ws_scheme + "://{{host}}/ws/tshirtroom/{{tsr.fields.slug}}");
        socket.onopen = function(e){
            //alert("Connected!!");
        }

        socket.onmessage = function(e) {
            console.log("==>", e.data);
            data = JSON.parse(e.data);
            // update the frds broadcasted from channel
            // also call window.friends.update();
            window.friends = data;
            window.friends.update();
        }

        socket.onclose = function(e) {
            alert("Disconneced Try again later!!");
        }

        socket.onerror = function(error) {
            alert(`[error] ${error.message}`);
        };

        let drawColor = document.querySelector('#draw-color-select');
        document.querySelector('#draw-clear').onclick = function(){clearDraw()};
        window.name = prompt("Hey mate, please enter your name.");
        console.log(window.friends);
        console.log( "==>",window.friend);

        let img;
        let globalPnts = [], tempPnts = [];
        let w = document.getElementById('container').offsetWidth;
        let h = document.getElementById('container').offsetHeight;;

        function setup() {
            p5 = createCanvas(w, h);
            p5.parent('container');

            img = loadImage('../../../media/{{tsrImg.img_url}}');
        }
        let mouseFlag = false;
        function draw() {
            image(img, 0, 0, w, h);
            
            if (globalPnts.length > 0) {
                pprev = globalPnts[0];
                for(var i=1;i<globalPnts.length;i++) {
                    var pp = globalPnts[i];
                    c = color(drawColor.value);
                    stroke(c);
                    line(pprev[0], pprev[1], pp[0], pp[1])
                    pprev = pp;    
                }
            }

            /*
            for(i=0;i<window.friends.length;i++) {
                var frd = window.friends[i];
                var ppoint = [];
                for(j=0;j<frd.key_points.length;j++) {
                    if(j==0) {
                        ppoint = frd.key_points[j];
                        continue;
                    }
                    //console.log(frd);
                    var pointt = frd.key_points[j];
                    
                    var x1 = ppoint[0], y1 = ppoint[1];
                    var x2 = pointt[0], y2 = pointt[1];
                    c = color(drawColor.value);
                    stroke(c);
                    line(x1, y1, x2, y2);
                    ppoint = frd.key_points[j];
                }
            }
            */

        }

        function mouseDragged() {
            if(document.getElementById('container').offsetTop <= mouseY && document.getElementById('container').offsetTop + document.getElementById('container').offsetHeight >= mouseY && document.getElementById('container').offsetLeft <= mouseX && document.getElementById('container').offsetLeft + document.getElementById('container').offsetWidth >= mouseX)
            {
                c = color(drawColor.value);
                stroke(c);
                point(mouseX, mouseY);
                tempPnts.push([mouseX, mouseY]);
            }
        }

        function mouseReleased() {
            if(tempPnts.length == 0)
                return;
            globalPnts = tempPnts;
            tempPnts = [];
            console.log("sending=>", globalPnts);
            sendPnts(globalPnts);
        }

        async function sendPnts(pnts) {
            socket.send(JSON.stringify({
                "job": 'append',
                'uid': window.friend.id,
                'trid': window.tshirtroom.id,
                'name': window.name,
                'color': drawColor.value,
                "coords": pnts
            }));
        }

        function clearDraw() {
            globalPnts = [];
            sendPnts(globalPnts);
        }
    </script>
</body>
</html>